@using HotelSystem.Web.ViewModels.Account
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="package">
    <div class="container">
        <h3 class="text-center">Log In</h3>
        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "custom-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })
            <div class="col-md-8 col-md-offset-2 form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "textbox" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-8 col-md-offset-2 form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "textbox" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <input type="submit" value="Log in" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}