@model HotelSystem.Web.Areas.Administration.ViewModels.Bookings.BookingEditModel

@{
    ViewBag.Title = "Edit booking";
}

<br />
<h2 class="text-center">@ViewBag.Title</h2>

<div class="container">
    @using (Html.BeginForm("Edit", "Bookings", FormMethod.Post, new { @class = "custom-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               
        <div class="col-md-8 col-md-offset-2 form-group">
            @Html.LabelFor(m => m.BookedFrom)
            @Html.EditorFor(m => m.BookedFrom, new { htmlAttributes = new { @class = "textbox" } })
            @Html.ValidationMessageFor(m => m.BookedFrom, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-8 col-md-offset-2 form-group">
            @Html.LabelFor(m => m.BookedTo)
            @Html.EditorFor(m => m.BookedTo, new { htmlAttributes = new { @class = "textbox" } })
            @Html.ValidationMessageFor(m => m.BookedTo, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-8 col-md-offset-2 form-group">
            <div class="col-md-4 col-md-push-3">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <div class="col-md-4 col-md-push-2">
                @Html.ActionLink("Back", "Index", "Bookings", new { area = "Administration" }, new { @class = "btn btn-success" })
            </div>
        </div>
    }
</div>
