@model HotelSystem.Web.ViewModels.Home.InformationViewModel

<h3 class="style">Hotel Information :</h3>
<p>@Model.Address,</p>
<p>@Model.City,</p>
<p>@Model.Country</p>
<p>Phone: @Model.Phone</p>
<p>Fax: @Model.Fax</p>
<p>Email: <a href="mailto:@Model.Email">@Model.Email</a></p>
<p>Follow on: <a href="@Model.Facebook">Facebook</a></p>

