@model HotelSystem.Web.Areas.Hotels.ViewModels.All.HotelViewModel

<div class="col-md-4 room-sec">
    <a href="#"><img src="../../@Model.Images.Where(i => i.Contains("Main")).FirstOrDefault()" alt="hotel image" /></a>
    <div class="caption">
        @if (@Model.Rating > 0)
        {
            <span class="glyphicon glyphicon-star">@Model.Rating</span>
        }
        @Html.ActionLink("Details", "HotelDetails", "Details", new { id = Model.Id }, null)
    </div>
    <h4>@Model.Name</h4>
    <p>
        @if (Model.Description.Length > 300)
        {
            @Model.Description.Substring(0, 300)
            <span>...</span>
        }
        else
        {
            @Model.Description
        }
    </p>
</div>



